<ul>
    <li><%= cat.name %></li>
    <li><%= cat.birth_date %></li>
    <li><%= cat.color %></li>
    <li><%= cat.sex %></li>
    <li><%= cat.description %></li>

</ul>

<%= <table>
    <thead>
        <tr>
            <th colspan="2">Cats</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Birth Date</td>
            <td>Name</td>
            <td>Color</td>
            <td>Sex</td>
            <td>Description</td>
        </tr>
    </tbody>
</table> /%>